
.siteMaster {
    height:100vh;
}

.siteMasterNav {
    text-align:center;
    padding-bottom:2%;
}

/*Styling for p tags*/
h2 {
    text-align: center;
}


p {
    font-size: large;
    text-align: center;
}

.defaultPage {
    padding-left: 20%;
    padding-right: 20%;
    line-height: 36px;
}

.buttonAlign {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Styling for Virtual Tour */
.virtualTour {
    width: 100%;
    height: 90%;
    text-align: center;
}

/* Styling for Googe Map Embedding*/
.mapouter {
    text-align: center;
    height: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}