
.siteMaster {
    height:100vh;
}

.siteMasterNav {
    text-align:center;
    padding-bottom:2%;
}

/* Styling for Virtual Tour */
.virtualTour {
    width: 100%;
    height: 90%;
    text-align: center;
}

/* Styling for Googe Map Embedding*/
.mapouter {
    text-align: center;
    height: 60%;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}